/* azeret-mono-font */

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* header styles */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    height: 582px;
    margin: 0 auto;
    padding: 20px 0;
}

.header{
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-me{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 15px;
    font-size: medium;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}
.dream-title, .dream-para{
    text-align: center;
}
.dream-title{
    font-size: 50px;
    padding-bottom: 24px;
}
.dream-para{
    font-size: 20px;
    padding-bottom: 0;

}
.header-img{
    width: 240.28px;
    height: 240px;
    align-items: center;
    justify-content: center;
}
.dream-title-para{
    padding-bottom: 0;
    height: 310px;
    margin-bottom: 0;
    color:  #0D1321;
}
.dreme-btn{
    margin: 0;
    padding: 0;
}


/* second page */
.change-world, .help-people, .change-world-end{
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
    margin-bottom: 20px;
    background-color: beige;
    border: none;
    border-radius: 8px;
    width: 946px;
    height: 336px;
}
.why-web-dev{
    width: 1140px;
    height: 1395px;
    margin: 150px auto;
    background-color: bisque;
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
}
.learn{
    padding: 15px 15px;
    font-size: medium;
    background-color: white;
    color: black;
}
.para1{
    max-width: 70%;
}
.why-web-dev2{
    padding: 80px 97px;
    width: 946px;
    height: 1072px;
}
/* .change-world{
    background-color: bisque;
}
.help-people{
    background-color: blanchedalmond;
}
.change-world-end{
    background-color: burlywood;
} */

.skills{
    display: flex;
    gap: 24px;
    border-right: 20px;
}
.skills-main{
    width: 85%;
    margin: 150px auto;
    background-color: white

}
.a,.b,.c{
    margin-right: 20px;
    padding: 40px;
    border-radius: 16px;
}
.a{
    background-color: rgb(255, 217, 217);
}
.b{
    background-color: rgb(208, 209, 255);
}
.c{
    background-color: rgb(255, 243, 220)
}

.support{
    background-image: url(../B10A1-Challenge-Begins/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support2{
    padding: 50px 130px 100px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
#bgtext{
    color: #FFFFFF;
}

#feedback{
    justify-content: center;
    display: inline;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 20px 100px;
    margin: 150px 0 0 0;
}


*{
    margin: 0;
    padding: 0;
}